<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IDEJavaScriptEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IDEQuickLookEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IDESourceCodeEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Sphere.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SphereKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SphereRuntimeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8006D47717BA840400453468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8006D48717BA840400453468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8006D4D717BBE69C00453468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80345A5D17BA6B8700170EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80345A6D17BA6B8800170EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80345A8B17BA6D1600170EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80345A9B17BA6D2600170EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>808058E417B1B6BF004D1D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8080590817B1B6C0004D1D41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
